td {
	font-family: sans-serif;
}

#turnipTable th, #turnipTable td {
   padding: 2px;
}

#turnipTable thead tr:first-child {
   border: none;
}

#turnipTable th {
   text-align: center;
}

#turnipTable td:first-child {
   white-space: nowrap;
   text-align: left;
}

#turnipTable td {
   text-align: center;
}
